<div class="header header-amber text-center">
  <h4>New Recipe</h4>
</div>
<div class="card-wrapper">
  <form id="edit-recipe-form" data-recipe-id="{{recipe.id}}" autocomplete="off">
    <fieldset>
      <div class="form-group required">
        <label for="recipeName">Name</label>
        <input id="recipe-name" class="form-control" name="recipe[name]" type="text" value="{{recipe.name}}" required>
      </div>
      <div class="form-group">
        <label for="recipeName">Image URL</label>
        <input id="recipe-image-url" class="form-control" name="recipe[image_url]" type="url" pattern="(https?:\/\/.*\.(?:png|jpe?g|gif))" oninvalid="this.setCustomValidity('You must provide a valid image URL or leave this field blank.')" oninput="setCustomValidity('')" placeholder="Example: http://i.imgur.com/homebrew.jpg" value="{{recipe.image_url}}">
      </div>
      <div class="form-group">
        <label for="recipeSummary">Summary</label>
        <textarea id="recipe-summary" class="form-control" name="recipe[summary]" rows="4">{{recipe.summary}}</textarea>
      </div>
      <div class="form-group required">
        <label for="recipeInstructions">Instructions</label>
        <textarea id="recipe-instructions" class="form-control" name="recipe[instructions]" rows="6" required>{{recipe.instructions}}</textarea>
      </div>
      <div class="form-group">
        <label for="recipeName">ABV</label>
        <input id="recipe-abv" name="recipe[abv]" type="number" step="0.1" min="0" class="form-control" value="{{recipe.abv}}">
      </div>
      <div class="form-group">
        <label for="recipeName">IBU</label>
        <input id="recipe-ibu" name="recipe[ibu]" type="number" step="1" min="0" class="form-control" value="{{recipe.ibu}}">
      </div>
      <div class="form-group">
        <label for="recipeName">SRM</label>
        <input id="recipe-srm" name="recipe[srm]" type="number" step="1" min="0" class="form-control" value="{{recipe.srm}}">
      </div>
      <div class="form-group">
        <label for="recipeName">Original Gavity</label>
        <input id="recipe-original-gravity" name="recipe[original_gravity]" type="number" min="0" step="0.001" class="form-control" value="{{recipe.original_gravity}}">
      </div>
      <div class="form-group">
        <label for="recipeName">Final Gravity</label>
        <input id="recipe-final-gravity" name="recipe[final_gravity]" type="number" min="0" step="0.001" class="form-control" value="{{recipe.final_gravity}}">
      </div>
      <label id="ingredients-label" for="ingredients">Ingredients</label>
      {{#each recipe.ingredients}}
        {{>edit-ingredient-form}}
      {{/each}}
      <div class="row button-control">
        <div class="col-xs-12">
          <button id="new-ingredient-btn" class="btn btn-warning btn-fab btn-fab-mini btn-round pull-right add-ingredient-btn">
          <!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> -->
          <i class="material-icons">add</i>
        </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button id="edit-recipe-submit-btn" class="btn btn-default btn-lg pull-right" type="submit" name="edit-recipe-submit-btn">Submit</button>
          <div class="ripple-container"></div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
