{{#if recipes}}
  <div class="panel-heading">
    <h3 class="panel-title">{{recipes.0.name}}</h3>
  </div>
  <div class="panel-body">
    <strong>Summary</strong>
    <p>{{recipes.0.summary}}</p>
    <strong>Ingredients</strong>
    <ul>
      {{#each recipes.0.ingredients}}
        <li><span class="ingredient-quantity">{{quantity}} {{unit}} {{name}}</li>
      {{/each}}
    </ul>
    <strong>Instructions</strong>
    {{recipes.0.instructions}}
  </div>
{{else if recipe}}
  <div class="panel-heading">
    <h3 class="panel-title">{{name}}</h3>
  </div>
  <div class="panel-body">
    <strong>Summary</strong>
    <p>{{summary}}</p>
    <strong>Ingredients</strong>
    <ul>
      {{#each ingredients}}
        <li><span class="ingredient-quantity">{{quantity}} {{unit}} {{name}}</li>
      {{/each}}
    </ul>
    <strong>Instructions</strong>
    {{instructions}}
  </div>
{{else}}
  <div class="panel-body">
    <p>Make some recipes to continue!</p>
  </div>
{{/if}}
