{{#if recipes}}
  <div class="header header-amber text-center">
    <h4>{{recipes.0.name}}</h4>
  </div>
  <div class="card-wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <img src="{{recipes.0.image_url}}" alt="homebrew thumbnail" class="img-responsive img-thumbnail">
      </div>
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h4>Summary</h4>
        <p>{{recipes.0.summary}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Instructions</h4>
        <p>{{recipes.0.instructions}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Ingredients</h4>
        <ul class="show-ingredients-list">
          {{#each recipes.0.ingredients}}
            <li><strong>{{quantity}} {{unit}}</strong> {{name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Specifications</h4>
        <div class="well spec-well">
          <p><strong>ABV: </strong><span class="spec">{{recipes.0.abv}}</span></p>
          <p><strong>IBU: </strong><span class="spec">{{recipes.0.ibu}}</span></p>
          <p><strong>SRM: </strong><span class="spec">{{recipes.0.srm}}</span></p>
          <p><strong>Original Gravity: </strong><span class="spec">{{recipes.0.original_gravity}}</span></p>
          <p><strong>Final Gravity: </strong><span class="spec">{{recipes.0.final_gravity}}</span></p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <button id="destroy-recipe-btn" type="button" name="destroy-recipe-submit-btn" data-recipe-id="{{recipes.0.id}}" class="btn btn-danger pull-right show-btn-recipe">
        Delete
        <div class="ripple-container"></div>
      </button>
      <button id="edit-recipe-btn" type="button" name="edit-recipe-submit-btn" class="btn btn-warning pull-right show-btn-recipe" data-recipe-id="{{recipes.0.id}}">
        Edit
        <div class="ripple-container"></div>
      </button>
    </div>
  </div>
</div>
{{else if recipe}}
  <div class="header header-amber text-center">
    <h4>{{recipe.name}}</h4>
  </div>
  <div class="card-wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <img src="{{recipe.image_url}}" alt="homebrew thumbnail" class="img-responsive img-thumbnail">
      </div>
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h4>Summary</h4>
        <p>{{recipe.summary}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Instructions</h4>
        <p>{{recipe.instructions}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Ingredients</h4>
        <ul class="show-ingredients-list">
          {{#each recipe.ingredients}}
            <li><strong>{{quantity}} {{unit}}</strong> {{name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Specifications</h4>
        <div class="well spec-well">
          <p><strong>ABV: </strong><span class="spec">{{recipe.abv}}</span></p>
          <p><strong>IBU: </strong><span class="spec">{{recipe.ibu}}</span></p>
          <p><strong>SRM: </strong><span class="spec">{{recipe.srm}}</span></p>
          <p><strong>Original Gravity: </strong><span class="spec">{{recipe.original_gravity}}</span></p>
          <p><strong>Final Gravity: </strong><span class="spec">{{recipe.final_gravity}}</span></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button id="destroy-recipe-btn" type="button" name="destroy-recipe-submit-btn" data-recipe-id="{{recipe.id}}" class="btn btn-danger pull-right show-btn-recipe">
          Delete
          <div class="ripple-container"></div>
        </button>
        <button id="edit-recipe-btn" type="button" name="edit-recipe-submit-btn" class="btn btn-warning pull-right show-btn-recipe" data-recipe-id="{{recipe.id}}">
          Edit
          <div class="ripple-container"></div>
        </button>
      </div>
    </div>
  </div>
{{else}}
  <div class="header header-amber text-center">
    <h4>You need beer!</h4>
  </div>
  <div class="card-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <img class="bottles-img" src="http://i.imgur.com/G28llpg.png" alt="beer bottles">
      </div>
    </div>
  </div>
{{/if}}
